/* CONTAINERS */
body                    {font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;font-size: .85em;}
#cabecalho              {background: #fff url('../App_Image/bg-principal.png') repeat-x; margin: 0px 0px 0px 0px;}
div#header              {height:50px; margin: 5px 10px 0px 10px;}                    
div#menu                {background: #fff url('../App_Image/fundo_menu.png') repeat-x;width:100%; height: 29px; padding-top: 5px;}
div#menu a              {text-decoration: none; color: #2E6495; margin: 0px 10px 0px 10px;}
div#menu a:hover        {text-decoration: none; color: #2E6495; margin: 0px 10px 0px 10px;}
div#conteudo            {float: left;width: auto;min-width: 50%; width: 99%; padding: 5px 5px 5px 5px;}
#divProcessando         { background: url(../App_Image/ajax-loader.gif) no-repeat center; position: fixed; background-color: #ffffff; 
                          filter: alpha(opacity=50); opacity: 0.5; -moz-opacity: .5; z-index: 99; width: 100%; height: 100%;
                          top: 0; left: 0; cursor:progress; }
                          
/* ModalPopupExtender e panel*/
.container-popup        { width: 100%; height: 97%; background-color: White; }
.header-popup           { width:100%; padding:3px 3px 3px 3px; font-size:9pt; background-color:#2F73B0; color: White; }        
.headerClose            { text-align: right; padding: 3px 3px 3px 3px; }
.modalBackground        { background-color: Gray; filter: alpha(opacity=80); opacity: 0.8; }
.body-popup              {width:99%; padding: 5px 5px 5px 5px; }

/* LABELS */
.titulo                             {font-size: 14pt; color:#0A95D6; }
.titulo-aba                         {font-size: 9pt; color:#343434; font-weight:bold;}
label                               {float: left;width: 200px;}
h4                                  {font-size: 11pt; color:#306697;}
h5                                  {font-size: 10pt; color:#306697;}

/* CONTROLES */
select                              {min-width: 200px;}
select.combo-grande                 {width: 450px;margin:5px 0px 5px 0px; border: 1px solid Gray;}
select.combo-media                  {width: 300px;margin:5px 0px 5px 0px; border: 1px solid Gray;}
select.combo-pequena                {width: 100px;margin:5px 0px 5px 0px; border: 1px solid Gray;}
select.combo-mini                   {min-width:55px; width: 55px;margin:5px 0px 5px 0px;}
input.textbox-medio                 {border: 1px solid Gray; width: 250px;height: 15px;margin:5px 0px 5px 0px;}
input.textbox-pequeno               {border: 1px solid Gray; width: 105px; height:15px;margin:5px 0px 5px 0px;}
input.textbox-grande                {border: 1px solid Gray; width: 450px;height:15px;margin:5px 0px 5px 0px;}
input.textbox-mini                  {border: 1px solid Gray; width: 60px; height:15px;margin:5px 0px 5px 0px;}
input.textbox-data                  {background:#FFFFFF url(../App_image/ico-calendario.png) no-repeat 4px 0px;padding:0px 0px 0px 26px;
	                                border: 1px solid Gray; width: 105;margin:5px 0px 5px 0px;height:17px;}
.textarea-minutaTag                 {font-family:"Segoe UI", Verdana, Helvetica, Sans-Serif; overflow:scroll; margin:5px 0px 5px 0px; border: 1px solid Gray;}
.textarea-pequena                   {width:250px; height:100px; font-family:"Segoe UI", Verdana, Helvetica, Sans-Serif; overflow:auto; margin:5px 0px 5px 0px; border: 1px solid Gray;}
.textarea-media                     {width:350px; height:100px; font-family:"Segoe UI", Verdana, Helvetica, Sans-Serif; overflow:auto; margin:5px 0px 5px 0px; border: 1px solid Gray;}
.textarea-grande                    {width:450px; height:200px; font-family:"Segoe UI", Verdana, Helvetica, Sans-Serif; overflow:auto; margin:5px 0px 5px 0px; border: 1px solid Gray;}
.listbox-grande                     {border: 1px solid Gray; width: 500px; height:200px;margin:5px 0px 5px 0px;}
.listbox-medio                      {border: 1px solid Gray; width: 450px; height:200px;margin:5px 0px 5px 0px;}
.botao-medio                        {border: 0px none #fff; width:90px; height:29px; background-image: url('../App_image/bg-botao1.png');
                                    font-weight:lighter; background-repeat:no-repeat; color:#444444;}
.botao-grande                       {border: 0px none #fff; width:180px; height:29px; background-image: url('../App_image/bg-botao2.png');
                                    font-weight:lighter; background-repeat:no-repeat; color:#444444;}
.botao-gigante                      {border: 0px none #fff; width:270px; height:29px; background-image: url('../App_image/bg-botao3.png');
                                    font-weight:lighter; background-repeat:no-repeat; color:#444444; background-color: #d0ddf0 ;}
.botao-operacao                     {background:#E1E1E1;border:1px solid #E1E1E1; border-left: none; width:83px;height: 16px; 
                                     cursor: pointer; font-weight:lighter;color:#444444; font-size:8pt;}                                      
.textboxCusto                       {background: #FFFFFF url(../App_image/ico_dinheiro.png) no-repeat 2px 0px; padding: 0px 0px 0px 18px;
                                    border: 1px solid Gray;width: 110px;margin:5px 0px 5px 0px;}

/* ESTILO DA DATAGRID */
.gridHeader                         {background-image: url('../App_image/img-grid-cabecalho.png');background-repeat: repeat-x;
                                     cursor: pointer;height:21px;}
.gridHeader th                      {text-align: left;text-decoration: none; font-size: 8pt;}
.gridHeader td                      {border: 1px solid #A3C0E8; font-size: 8pt;}

/* ESTILO DA TAB MENU */
.ajax_Menu .header                            {text-align: left; margin-left: 0px;}
.ajax_Menu .image                             {border: 0;margin-left: 10px;margin-top: 10px;margin-right: 10px;}
.ajax_Menu .content                           {min-height: 400px;}
.ajax_Menu .ajax__tab_header                  {background-image: url('../App_Image/fundo-menu-lateral.png');background-repeat: no-repeat;
                                               float: left;font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;font-size: 13px;color: #666666;text-decoration: none;
                                               width: 222px;height: 46px;}
.ajax_Menu .ajax__tab_outer                   {display: block !important;margin: 0px 0px 0px 0px;padding-right: 4px;height: 46px;}
.ajax_Menu .ajax__tab_inner                   {background-image: url('../App_Image/fundo-menu-lateral.png');background-repeat: no-repeat;
                                                    height: 46px;}
.ajax_Menu .ajax__tab_tab                     {width: 222px;}
.ajax_Menu .ajax__tab_hover .ajax__tab_outer  {background-image: url('../App_Image/fundo-menu-lateral-B.png');
                                                     background-repeat: no-repeat;color: #306697;width: 222px;}
.ajax_Menu .ajax__tab_hover .ajax__tab_inner  {background-image: url('../App_Image/fundo-menu-lateral-B.png');
                                                     background-repeat: no-repeat;color: #306697;width: 222px;}
.ajax_Menu .ajax__tab_hover .ajax__tab_tab    {}
.ajax_Menu .ajax__tab_active .ajax__tab_outer {background-color: #fff;background-image: url('../App_Image/fundo-menu-lateral-B.png');
                                                     background-repeat: no-repeat;color:#306697;}
.ajax_Menu .ajax__tab_active .ajax__tab_inner {background-color: #fff;background-image: url('../App_Image/fundo-menu-lateral-B.png');
                                                     background-repeat: no-repeat;color:#306697;font-weight: bold;}
.ajax_Menu .ajax__tab_active .ajax__tab_tab   {}
.ajax_Menu .ajax__tab_body                    {margin-left: 235px;font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;font-size: 10pt;
                                               background-color: #ffffff; border-left: 1px dotted #999999; padding-left: 13px;}
.ajax_Menu a                                  {color: #666666;display: block;text-align: left;
                                               font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;font-size: 13px;text-decoration: none;
                                               width: 222px;height: 46px;}
.ajax_Menu a:hover                            {background-color: #fff;background-image: url('../App_Image/fundo-menu-lateral-B.png');
                                                     background-repeat: no-repeat;color:#306697;}
.ajax_Menu a:active                           {background-color: #fff;background-image: url('../App_Image/fundo-menu-lateral-B.png');
                                                     background-repeat: no-repeat;color:#306697;font-weight: bold;}
.ajax_Menu iframe                             {width: 98%; min-height: 800px;}
.ajax_Menu .divulgacao                        {font-size: 9pt}


/* ESTILO DA TAB CADASTROS */
.ajax_Cadastro .ajax__tab_header                    {font-family:"Segoe UI", Verdana, Helvetica, Sans-Serif;font-size: 13px; border: solid 1px #AAAAAA; 
                                                     background: url(../App_Image/fundo-tab-cadastro.png) repeat-x;
                                                     border-bottom:none; border-top:none;}
.ajax_Cadastro .ajax__tab_outer                     {padding-right: 4px;height: 31px; background: #F0F0F0; margin-left:5px; margin-top:10px;
                                                     border-top: solid 1px #CCCCCC;border-left: solid 1px #CCCCCC;
                                                     border-right: solid 1px #CCCCCC; border-bottom: none;}
.ajax_Cadastro .ajax__tab_inner                     {padding: 4px 8px 6px 10px;background-color: #F0F0F0;}
.ajax_Cadastro .ajax__tab_tab                       {height: 13px;padding: 4px;margin: 0;}
.ajax_Cadastro .ajax__tab_hover .ajax__tab_outer    {background-color: #F0F0F0; border-top: solid 1px #CCCCCC;border-left: solid 1px #CCCCCC;
                                                     border-right: solid 1px #CCCCCC; border-bottom: none;color: #306697;}
.ajax_Cadastro .ajax__tab_hover .ajax__tab_inner    {background-color: #F0F0F0; }
.ajax_Cadastro .ajax__tab_hover .ajax__tab_tab      {}
.ajax_Cadastro .ajax__tab_active .ajax__tab_outer   {background-color: #fff;border-top: solid 1px #CCCCCC;border-left: solid 1px #CCCCCC;
                                                     border-right: solid 1px #CCCCCC; border-bottom: none;}
.ajax_Cadastro .ajax__tab_active .ajax__tab_inner   {background-color: #fff; font-weight: bold; color: #306697;}
.ajax_Cadastro .ajax__tab_active .ajax__tab_tab     {}
.ajax_Cadastro .ajax__tab_body                      {font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;font-size: 10pt;
                                                    border: 1px solid #999999;border-top: 0;padding: 20px; padding-top:10px; background-color: #ffffff;}
                                                    
                                                    
/* ESTILO DO ACOORDION */
.accordionHeader                {background: url(../App_Image/ico-expand.png) no-repeat;font-size: 17px;
                                 padding: 5px; margin-top: 5px;cursor: pointer;color:#2E6495;}
.accordionHeaderSelected        {background: url(../App_Image/ico-collapse.png) no-repeat;font-size: 17px;
                                 padding: 5px;margin-top: 5px;cursor: pointer;color:#2E6495;}
.accordionContent               {background-color: #fff;border-top: none;padding: 10px 5px 5px 5px; }
.accordionContentGrande         {background-color: #fff;border-top: none;height:750px; width:1003px; 
                                 overflow:hidden;}
